{{ begin_section }}
/* vfs read and write trace */
{% if capture_metadata %}
kfunc:vfs_read
{{ filter }}
{
  $file = args->file;
  $count = args->count;
  $pos = args->pos;
  printf("%llu {pid=%d tid=%d proc=%s}{EN vfs_read}{file=%s, count=%d, position=%llu}\n", nsecs, pid, tid, comm, str($file->f_path.dentry->d_name.name), $count, $pos);
}

kfunc:vfs_write
{{ filter }}
{
  $file = args->file;
  $count = args->count;
  $pos = args->pos;
  printf("%llu {pid=%d tid=%d proc=%s}{EN vfs_write}{file=%s, count=%d, position=%llu}\n", nsecs, pid, tid, comm, str($file->f_path.dentry->d_name.name), $count, $pos);
}
{% else %}
kfunc:vfs_read
{{ filter }}
{
  $count = args->count;
  printf("%llu {pid=%d tid=%d proc=%s}{EN vfs_read}{count=%d}\n", nsecs, pid, tid, comm, $count);
}

kfunc:vfs_write
{{ filter }}
{
  $count = args->count;
  printf("%llu {pid=%d tid=%d proc=%s}{EN vfs_write}{count=%d}\n", nsecs, pid, tid, comm, $count);
}
{% endif %}